@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  font-family: "Space Grotesk", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

nav {
  /* border: 1px solid rgb(177, 175, 175);
  border-top: 0;
  border-left: 0;
  border-right: 0; */
  display: flex;
  justify-content: space-between;
}

.nav-item {
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
}

main {
  /* border: 1px solid red; */
}

footer {
  /* border: 1px solid green; */
}

.hero-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
}

.wa-icon {
  color: green;
}

.gh-icon {
  color: rgb(4, 4, 27);
}

.ph-icon {
  color: rgb(65, 65, 65);
}

.em-icon {
  color: rgb(197, 64, 64);
}

.hero-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.hero-links li a {
  color: gray;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 2px 13px;
}
.hero-links li a:hover {
  border: 1px solid #f28918;
  color: #f28918;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  text-align: center;
  color: #666666;
  font-family: monospace;
  font-size: x-large;
  letter-spacing: 15px;
}

.about-img {
  min-width: 40%;
  display: flex;
  justify-content: end;
}

.about-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.about {
  display: flex;
  gap: 24px;
  align-items: center;
}

.about-heading {
  color: #666666;
  /* text-align: center; */
  display: flex;
  justify-content: start;
  gap: 4px;
}

@media (max-width: 500px) {
  .about-img {
    min-width: 30%;
    display: flex;
    justify-content: end;
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }

  .about-heading {
    color: #666666;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    gap: 4px;
  }
}
